* {
  box-sizing: border-box;
}

body {
  /*background-color: #CC0000; */
  background-image: url("http://4.bp.blogspot.com/-woaQVmVG-wA/UFR35ITLpNI/AAAAAAAAAQ4/GZGxuEWhp4o/s1600/american-flag-wallpaper.jpg");
  background-size: 1366px 929px;
}

.title {
  margin-top: 300px;
  text-shadow: 2px 2px #191B6D;
  color: #1096C9;
  font-family: 'Montserrat', sans-serif;
}

.quotation {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.panel{
  width: 60%;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.panel-body {    
  width: 92%;
}