* {
  box-sizing: border-box;
}

body {
  /*background-color: #CC0000; */
  background-image: url("http://4.bp.blogspot.com/-woaQVmVG-wA/UFR35ITLpNI/AAAAAAAAAQ4/GZGxuEWhp4o/s1600/american-flag-wallpaper.jpg");
  background-size: 1366px 929px;
}

.title {
  margin-top: 180px;
  text-shadow: 1px 1px #000;
  color: #DAA520;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

.quotation {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.panel{
  width: 60%;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
  margin-top:50px;
}

.panel-body {    
  width: 92%;
}

/* Media Queries */

@media(min-width: 1366px){
  body {
    background-size: 100%;
  }
}